<html>
<head>
	<title>UPLOAD</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
	<script src="{{ url_for('static', filename='js/cat.js') }}"></script>
</head>
<body>
	<br>
	<div class="row d-flex justify-content-center">
		
		<select id="cat" required class="form-control col-lg-6">

		</select>

		<input class="form-control col-lg-6" type="submit" id="upload" value="Search"></button>
	</div>

	<div class="row d-flex justify-content-center">
		<button class="btn btn-default" id="load">
  			<span class="spinner-border spinner-border-lg"></span>
		</button>
	</div>
	<br>
	<br>
<div class="row d-flex justify-content-center">
<div id="images">
	<div class="container-fluid">
		<div class="row d-flex justify-content-between" id="texts">
			<span class="col-lg-1" id="actid">0)</span>
			<span class = "col-lg-11" id="caption"> sdfsgddfhsdfsgdfgdfgdghdfgdfgdghdghdfhsdfsgdfgdfgdghdghdfhsdfsgddfgdfgdghdghsdfsdfdfh </span>
		</div>
		<div class="row d-flex justify-content-center">
				<button class="btn btn-danger col-m-2" id="del" > Delete </button>
		</div>
		<div class="row d-flex justify-content-center">
			<img src="{{ url_for('static', filename='images/upload.png') }}">
		</div>
		<div class="row d-flex justify-content-around">
			<button class="btn btn-primary col-m-4" id="up">Upvote </button>
			<pre class="col-m-4 large" style="font-size: 20px;"> 0 </pre>
			<button class="btn btn-danger col-m-4" id="downup">downvote</button>
		</div>
		<br><br>

</div>
	




<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
</body>
</html>